.cabeceraContacto {
  font-size: 50px;
  color: rgb(33, 112, 66);
  text-align: center;
  padding: 20px;
  font-family: "Roboto", sans-serif;
}

.form-control {
  padding: 10px;
  width: 100vw;
}

.mapa {
  width: 100vw;
}

@media only screen and (max-width: 420px) {
  .cabeceraContacto {
    font-size: 30px;
  }
}
