.seccionfemeninos-titulo {
  font-size: 50px;
  text-align: center;
  color: rgb(33, 112, 66);
  padding: 15px;
  font-family: "Roboto", sans-serif;
  border-bottom: solid 1px rgb(33, 112, 66);
}

.seccionFemeninos {
  line-height: 35px;
  padding: 20px;
  font-size: 20px;
  font-family: "Fira Sans", sans-serif;
  color: rgb(33, 112, 66);
}
.seccionFemenino-subtitulo {
  font-size: 35px;
  text-align: center;
  color: rgb(33, 112, 66);
  padding: 15px;
  font-family: "Roboto", sans-serif;
}
