.logoBs {
  width: 100px;
  height: 100px;
}

.linkPrincipal {
  list-style: none;
  text-decoration: none;
  padding: 25px;
  font-size: 20px;
  color: rgb(235, 156, 10);
}

.linkPrincipal:hover {
  text-decoration: none;
  color: rgb(235, 156, 10);
}

.menu {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: rgb(33, 112, 66);
}

.tituloInicio {
  font-size: 40px;
  font-family: "Archivo Narrow", sans-serif;
}

.link-pie:visited {
  color: rgb(235, 156, 10);
}
.pie-link {
  padding: 35px;
  font-size: 20px;
  text-decoration: none;
}

.tituloCarrouselDjokovic {
  font-size: 80px;
  font-family: "Archivo Narrow", sans-serif;
}

.parrafoCarrouselDjokovic {
  font-size: 30px;
  font-family: "Archivo Narrow", sans-serif;
}

.tituloCarrouselIga {
  font-size: 40px;
  font-family: "Archivo Narrow", sans-serif;
}

.parrafoCarrouselIga {
  font-size: 20px;
  font-family: "Archivo Narrow", sans-serif;
}

.piePrueba {
  border-top: 1px solid black;
  background-color: rgb(33, 112, 66);
}

.linkDePie {
  width: 100px;
  height: 100px;
  color: green;
}

.icon-instagram {
  padding: 10px;
}

.icon-location {
  padding: 10px;
  width: 20px;
}

.piePrueba {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logoSocial {
  padding: 10px;
  width: 45px;
  height: 45px;
}

.copyRight {
  font-size: 20px;
  margin-top: auto;
  margin-bottom: auto;
  border-right: 1px solid black;
}

.logoCopyRight {
  border-top: auto;
  border-bottom: auto;
  height: 23px;
  width: 23px;
}

.contenidoInicio {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.fraseJeu {
  font-family: "Julius Sans One", sans-serif;
  font-size: 60px;
  padding: 10px;
  color: rgb(235, 156, 10);
  font-weight: bold;
}

.fraseSet {
  font-family: "Julius Sans One", sans-serif;
  font-size: 60px;
  padding: 10px;
  color: rgb(33, 112, 66);
  font-weight: bold;
}

.fraseMatch {
  font-family: "Julius Sans One", sans-serif;
  font-size: 60px;
  padding: 10px;
  color: rgb(235, 156, 10);
  font-weight: bold;
}

.logoSocial:hover {
  transform: scale(2, 2);
}

@media only screen and (max-width: 360px) {
  .piePrueba {
    flex-direction: column;
  }
}

@media only screen and (max-width: 790px) {
  .fraseMatch,
  .fraseSet,
  .fraseJeu {
    display: none;
  }
  .videoInicio {
    width: 100vw;
  }
}

@media only screen and (max-width: 1200px) {
  .fraseMatch,
  .fraseSet,
  .fraseJeu {
    font-size: 50px;
  }
}

@media only screen and (max-width: 1100px) {
  .fraseMatch,
  .fraseSet,
  .fraseJeu {
    font-size: 40px;
  }
}

@media only screen and (max-width: 1100px) {
  .fraseMatch,
  .fraseSet,
  .fraseJeu {
    font-size: 25px;
  }
}

@media only screen and (max-width: 880px) {
  .fraseMatch,
  .fraseSet,
  .fraseJeu {
    font-size: 20px;
  }
}

@media only screen and (max-width: 810px) {
  .fraseMatch,
  .fraseSet,
  .fraseJeu {
    font-size: 15px;
  }
}

@media only screen and (max-width: 800px) {
  .logoBs {
    width: 60px;
    height: 60px;
  }
  .linkPrincipal {
    font-size: 15px;
  }
}

@media only screen and (max-width: 450px) {
  .logoBs {
    width: 40px;
    height: 40px;
  }
}

@media only screen and (max-width: 700px) {
  .logoSocial {
    padding: 10px;
    width: 40px;
    height: 40px;
  }
  .logoCopyRight {
    border-top: auto;
    border-bottom: auto;
    height: 18px;
    width: 18px;
  }
  .copyRight {
    font-size: 15px;
    margin-top: auto;
    margin-bottom: auto;
    border-right: 1px solid black;
  }
}

@media only screen and (max-width: 550px) {
  .logoSocial {
    padding: 10px;
    width: 35px;
    height: 35px;
  }
  .logoCopyRight {
    border-top: auto;
    border-bottom: auto;
    height: 13px;
    width: 13px;
  }
  .copyRight {
    font-size: 10px;
    margin-top: auto;
    margin-bottom: auto;
    border-right: 1px solid black;
  }
}

@media only screen and (max-width: 450px) {
  .linkPrincipal {
    font-size: 10px;
  }
}
