.seccionTorneo-titulo {
  font-size: 50px;
  text-align: center;
  color: rgb(33, 112, 66);
  padding: 15px;
  font-family: "Roboto", sans-serif;
}

.seccionTorneo {
  line-height: 35px;
  padding: 20px;
  font-size: 20px;
  font-family: "Fira Sans", sans-serif;
  color: rgb(33, 112, 66);
}

.seccionTorneo-tituloDeFoto {
  font-style: italic;
}

.seccionTorneo-imagen2005 {
  font-style: italic;
}
.foto2005 {
  margin-right: auto;
  margin-left: auto;
}
