.logoBs {
  width: 100px;
  height: 100px; }

.linkPrincipal {
  list-style: none;
  text-decoration: none;
  padding: 25px;
  font-size: 20px;
  color: #eb9c0a; }

.linkPrincipal:hover {
  text-decoration: none;
  color: #eb9c0a; }

.menu {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #217042; }

.pie-logo {
  width: 100px;
  height: 100px; }

.pie {
  background-color: #217042; }

.link-pie:visited {
  color: #eb9c0a; }

.pie-link {
  padding: 35px;
  font-size: 20px;
  text-decoration: none; }

.tituloCarrouselDjokovic {
  font-size: 40px;
  font-family: "Archivo Narrow", sans-serif; }

.parrafoCarrouselDjokovic {
  font-size: 20px;
  font-family: "Archivo Narrow", sans-serif; }

.tituloCarrouselIga {
  font-size: 40px;
  font-family: "Archivo Narrow", sans-serif; }

.parrafoCarrouselIga {
  font-size: 20px;
  font-family: "Archivo Narrow", sans-serif; }

.piePrueba {
  border-top: 1px solid black;
  background-color: #217042; }

.logoFederacion {
  width: 100px;
  height: 100px; }

.linkDePie {
  width: 100px;
  height: 100px;
  color: green; }

.icon-instagram {
  padding: 10px; }

.icon-location {
  padding: 10px;
  width: 20px; }

.piePrueba {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.logoSocial {
  padding: 10px;
  width: 45px;
  height: 45px; }

.copyRight {
  font-size: 20px;
  margin-top: auto;
  margin-bottom: auto;
  border-right: 1px solid black; }

.logoCopyRight {
  border-top: auto;
  border-bottom: auto;
  height: 23px;
  width: 23px; }

.cabeceraContacto {
  font-size: 50px;
  color: #217042;
  text-align: center;
  padding: 20px;
  font-family: "Roboto", sans-serif; }

.form-control {
  padding: 10px; }

.seccionTorneo-titulo {
  font-size: 50px;
  text-align: center;
  color: #217042;
  padding: 15px;
  font-family: "Roboto", sans-serif; }

.seccionTorneo {
  line-height: 35px;
  padding: 20px;
  font-size: 20px;
  font-family: "Fira Sans", sans-serif;
  color: #217042; }

.seccionTorneo-tituloDeFoto {
  font-style: italic; }

.seccionTorneo-imagen2005 {
  font-style: italic; }

.foto2005 {
  margin-right: auto;
  margin-left: auto; }

.seccionEstadio-titulo {
  font-size: 50px;
  text-align: center;
  color: #217042;
  padding: 15px;
  font-family: "Roboto", sans-serif; }

.seccionEstadio-articulo {
  line-height: 35px;
  padding: 20px;
  font-size: 20px;
  font-family: "Fira Sans", sans-serif;
  color: #217042; }

.seccionmasculinos-titulo {
  font-size: 50px;
  text-align: center;
  color: #217042;
  padding: 15px;
  font-family: "Roboto", sans-serif;
  border-bottom: solid 1px #217042; }

.seccionMasculinos {
  line-height: 35px;
  padding: 20px;
  font-size: 20px;
  font-family: "Fira Sans", sans-serif;
  color: #217042;
  border-bottom: solid 1px #217042; }

.seccionDobles {
  line-height: 35px;
  padding: 20px;
  font-size: 20px;
  font-family: "Fira Sans", sans-serif;
  color: #217042; }

.seccionmasculino-subtitulo {
  font-size: 35px;
  text-align: center;
  color: #217042;
  padding: 15px;
  font-family: "Roboto", sans-serif; }

.seccionfemeninos-titulo {
  font-size: 50px;
  text-align: center;
  color: #217042;
  padding: 15px;
  font-family: "Roboto", sans-serif;
  border-bottom: solid 1px #217042; }

.seccionFemeninos {
  line-height: 35px;
  padding: 20px;
  font-size: 20px;
  font-family: "Fira Sans", sans-serif;
  color: #217042;
  border-bottom: solid 1px #217042; }

.seccionFemenino-subtitulo {
  font-size: 35px;
  text-align: center;
  color: #217042;
  padding: 15px;
  font-family: "Roboto", sans-serif; }

.seccionFemeninosDobles {
  line-height: 35px;
  padding: 20px;
  font-size: 20px;
  font-family: "Fira Sans", sans-serif;
  color: #217042; }
